/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/


/* initialising the style */
*, button {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-size: 14px;
    font-family: 'awesome', sans-serif;
    background-color: #540B51;
}


/* general class to use all over the page */

.uppercase {
    text-transform:uppercase;
}

h1, h2, h3, h4, h5, h6 {
    color: #191817;
}

ul {
    list-style: none;
}

p {
    font-size: 2.3em;
    text-align: left;
    color: #000000;
    padding: 45px 0 45px;
}

.signup-btn {
    background-color: white;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 2em;
    text-align: center;
    height: 75px;
    width: 100%;
    color: #540B51;
    cursor: pointer;
    }


/* nav styles --------------------------------------------------- */

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#left-corner, #right-corner, .menu1, .menu2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#left-corner {
    justify-content: flex-start;
    padding: 30px 30px;
}

#right-corner {
    justify-content: flex-end;
    padding: 30px 30px;
}

#slack-logo {
    height: 45px;
    width: 100%;
}

#search-btn, #burger-menu-btn {
    padding-left: 30px;
    background-color: #540B51;    
}

nav > div > button > img {
    height: 30px;
    width: auto;
    cursor: pointer;
}


/* Header styles --------------------------------------------------- */

header {
    color: white;
    padding: 75px 0 0; 
    text-align: center;
}

h1 {
    color: white;
    padding: 0 30px;
    font-size: 5em;
}

header p {
    color: white;
    text-align: center;
    padding: 0 30px;
    font-size: 2.2em;
    padding: 30px 0; 
}

span.yellow {
    color: #ECB12F;
    font-weight: bold;
}

.div-btn-center {
    padding: 0 30px;
}

.signup-btn.mail {
    padding-left: 30px;
    background-color: white;
  
}    

 .signup-btn.google {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4285F4;
    color: white;
    }

 .google-logo {
    margin: 10px;
    width: 8%;   
    background-color: white;
 }




/* Main styles --------------------------------------------------- */

main {
    color: #191817;
}

section.ivory-bg {
    background-color: #F3EAE2;
}

section.white-bg {
    background-color: white;
}

main p.uppercase {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    padding: 50px 30px; 
}

.div-trusted-logo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 30px;
    }

.trusted-logo {
    height:60px;
    padding: 25px 0;
    
}


/* articles section styles --------------------------------------------------- */

.img-article-mobile {
    width: 95%;
    margin: 30px 0;
}

.img-align-right {
    float: right;
}

h2, h3{
    font-size: 4em;
    }

.article-text {
    padding: 60px 15px;
}

.link-article{
    color: #2E71A6;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
}


/* Team Slack styles --------------------------------------------------- */

.teams-slack {
    padding: 75px 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.teams-slack h3 {
    margin: 45px 0 ;
}

.teams-slack p {
   text-align: center;
   font-size: 2em;
   font-weight: bold;
   padding: 0;
}

.teams-slack span {
    color: #540B51;
    font-size: 4em;
    }

.signup-btn.meet-slack {
    margin-top: 45px;
    color: white;
    background-color: #540B51;
}

.signup-btn.talktosales {
    border:#540B51 2px solid;
    background-color: white;
    margin-bottom: 45px;
}

#ul-numbers {
    padding: 0 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ul-numbers li {
    padding: 30px 0;
}



/* Welcome digital HQ styles --------------------------------------------------- */

.welcome-hq {    
    padding: 0 30px 60px;
    text-align: center;
   }

.welcome-hq h3 {
    color: white;
    margin : 60px 0;
}

.signup-btn.talktosales2 {
    color: white;
    border: white 2px solid;
    background-color:#540B51;
}

.signup-btn.tryforfree {
    border: none;
}



/* Footer styles --------------------------------------------------- */

footer {
    padding: 30px 30px;
    background-color: white;
}

footer img {
    width: 10%;
}

.div-ul {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 2px rgba(0, 0, 0, 0.1) solid ;
}

footer ul {
    padding: 30px 0;
   }

footer ul li {
    margin: 0 30px 30px;
    font-size: 1.5em;
}

li.bold {
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 45px;
}

ul.bold {
    font-weight: bold;
    font-size: 1em;
    padding-bottom: 45px;
}

li.blue {
    color: #4285F4;
}

img.ico {
    width: 20px;
    
}

.ul-socialsM {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
}

small {
    font-size: 1.5em;
}




/* Design Web Responsive styles --------------------------------------------------- */

/* mobile screen ---------------------------------------------------*/
/* mobile screen ---------------------------------------------------*/
/* mobile screen ---------------------------------------------------*/

@media (max-width: 768px) {
ul.menu1, ul.menu2 {
    display: none;
    }

.hero-product-ui {
    display: none;
}

.img-article-section {
    display: none;
}

.slack-presentation {
    margin-top: 30px;
    background-image: url(/starter_code/images/hero-product-ui.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    height: 500px;
    }
}





/* small screen ---------------------------------------------------*/
/* small screen ---------------------------------------------------*/
/* small screen ---------------------------------------------------*/

@media (min-width: 769px) and (max-width: 1024px) {
    ul.menu1, ul.menu2 {
        display: none;
        }

.hero-product-ui {
    display: none;
}
        

/* nav styles --------------------------------------------------- */

nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

/* Header styles --------------------------------------------------- */


header {
    display: flex;
    flex-direction: row;
    padding: 0 0; 
    text-align: left;
}

header div.div-half.bb-background {
    width: 65%;
    padding: 60px 0;
}

header div.div-half.slack-presentation {
    width: 35%;
   
}

.bb-background {
    background-image: url(/starter_code/images/background-singup.png);
    background-size: 1900px;
    background-repeat: no-repeat;
    }

    
h1 {
    font-size: 6.5em;
    margin-right: 100px;
}

header p {
    text-align: left;
    font-size: 2.5em;
    padding: 30px 30px;
        
}

.slack-presentation {
    background-position: 0 50%;
    background-image: url(/starter_code/images/hero-product-ui.png);
    background-size: 750px;
    background-repeat: no-repeat;
    height: 800px;
    }
    
    
    
/* Main styles --------------------------------------------------- */
    

main p.uppercase {
    font-size: 1.5em;
    }

.div-trusted-logo {
    display: flex;
    flex-direction: row;
    }

.trusted-logo {
    height:50px;
}


/* articles section styles --------------------------------------------------- */

.img-article-mobile {
    display: none;
}

.img-article-section {
    display: unset;
    width: 85%;
    margin: 30px 0;

}


h2, h3{
    font-size: 2.5em;
    }

.article-text {
    padding-left: 18%;
    padding-right: 15%;
}

div.article-text p {
    font-size: 1.7em;
}


.link-article{
    font-size: 1.5em;
    
}


/* Team Slack styles --------------------------------------------------- */

.teams-slack > p {
    font-size: 1.6em;
    font-weight: 500;
}

.teams-flex-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signup-btn.meet-slack {
    height: 65px;
    width: 50%;
    margin: 30px 15px 30px 0px;
    padding: 0;
    font-size: 1.6em;
}

.signup-btn.talktosales {
    height: 65px;
    width: 25%;
    margin: 30px 0px 30px 15px;
    padding: 0;
    font-size: 1.6em;
}



.teams-slack span {
    font-size: 2.2em;
    font-weight: bold;
    text-align: left;
    }

#ul-numbers {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
}

#ul-numbers p {
    font-size: 1.1em;
    text-align: left;
    padding : 0 30px;

}

#ul-numbers li {
    padding: 30px 0;
    width: 25%;
}



/* Welcome digital HQ styles --------------------------------------------------- */

.welcome-hq {
    display: flex;
    flex-direction: column;
    }

button.talktosales2 {
    order: +1;
} 



/* Footer styles --------------------------------------------------- */

.status-cookie {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px ;
}

.status-cookie li {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

img.ico {
    width: 14px;
    
}

.ul-socialsM {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    width: 40%;
}




small {
    font-size: 1.2em;
}
    
}


/* medium screen ---------------------------------------------------*/
/* medium screen ---------------------------------------------------*/
/* medium screen ---------------------------------------------------*/

@media (min-width: 1025px) and (max-width: 1440px) {
    
/* nav styles --------------------------------------------------- */

nav {
    border-bottom: none;
}

#burger-menu-btn {
    display: none;
}

#left-corner {
    width: 50%;
    padding-right: 0;
}


#slack-logo {
    height: auto;
    width: 120px;
}

.menu1 {
    width: 100%;
    padding-left: 30px;
}

ul.menu1 li {
    text-align: center;
    padding-right: 30px;
}

nav ul li a{
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    text-decoration: none;
}

#right-corner {
    width: 50%;
    padding-left: 0;
    
    
}

nav > div > button > img {
    height: 25px;
    width: auto;
    }

.link-signin {
    padding: 0 30px;

}

.link-tryforfree {
    padding: 15px;
    border-radius: 5px;
    color:#540B51;
    background-color: white;

}

/* Header styles --------------------------------------------------- */


header {
    display: flex;
    flex-direction: row;
    padding: 0 0; 
    text-align: left;
    height: 850px;
}

header div.div-half.bb-background {
    width: 60%;
    padding: 60px 0;
}

header div.div-half.slack-presentation {
    width: 40%;
   
}

.hero-product-ui {
    padding: 200px 0;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    font-size: 6.5em;
    margin-right: 0;
}
    
header p {
    text-align: left;
    font-size: 2.5em;
    padding: 60px 30px;
}

.div-btn-center {
    display: flex;
    flex-direction: row;
}


.signup-btn.mail {
    font-size: 1.2em;
    height: 60px;
    width: 50%;
    padding: 0 15px;
    margin: 0 15px;  
}    

 .signup-btn.google {
    font-size: 1.2em;
    height: 60px;
    width: 50%;
    padding: 0 15px;
    margin: 0 15px;
    }

  
    
    
/* Main styles --------------------------------------------------- */
    

main p.uppercase {
    font-size: 1.5em;
    }

.div-trusted-logo {
    display: flex;
    flex-direction: row;
    padding: 0 60px;
    }

.trusted-logo {
    height:40px;
}


/* articles section styles --------------------------------------------------- */

.section-row {
    display: flex;
    flex-direction: row;
    padding: 30px 0 0 0;
}

.img-article-mobile {
    display: none;
}

.img-article-section {
    display: unset;
    width: 85%;
    margin: 30px 0;

}


h2, h3{
    font-size: 3em;
    font-weight: bolder;
    }

.section-to-the-right {
    flex-direction: row-reverse;
}

div.article-text {
    padding: 15px 90px;
}

div.article-text p {
    font-size: 2em;
    }


.link-article{
    font-size: 1.5em;
}


/* Team Slack styles --------------------------------------------------- */

.teams-slack > p {
    font-size: 1.6em;
    font-weight: 500;
}

.teams-flex-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signup-btn.meet-slack {
    height: 65px;
    width: 50%;
    margin: 30px 15px 30px 0px;
    padding: 0;
    font-size: 1.6em;
}

.signup-btn.talktosales {
    height: 65px;
    width: 25%;
    margin: 30px 0px 30px 15px;
    padding: 0;
    font-size: 1.6em;
}



.teams-slack span {
    font-size: 2.2em;
    font-weight: bold;
    text-align: left;
    }

#ul-numbers {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
}

#ul-numbers p {
    font-size: 1.1em;
    text-align: left;
    padding : 0 30px;

}

#ul-numbers li {
    padding: 30px 0;
    width: 25%;
}



/* Welcome digital HQ styles --------------------------------------------------- */

div.welcome-hq {
    display: unset;    
   }

button.talktosales2, button.tryforfree {
    width: 25%;
    margin: 0 15px;
  } 



/* Footer styles --------------------------------------------------- */

footer img {
    width: 7%;
}
.status-cookie {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px ;
}

.status-cookie li {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

img.ico {
    width: 14px;
    
}

.ul-socialsM {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    width: 30%;
}




small {
    font-size: 1em;
}
    
}


/*large screen bonus ---------------------------------------------------*/
/*large screen bonus ---------------------------------------------------*/
/*large screen bonus ---------------------------------------------------*/

@media (min-width: 1441px) {

/* nav styles --------------------------------------------------- */

body {
    width: 70%;
    margin: 0 auto;
}

nav {
    border-bottom: none;
}

#burger-menu-btn {
    display: none;
}

#left-corner {
    width: 50%;
    padding-right: 0;
}


#slack-logo {
    height: auto;
    width: 120px;
}

.menu1 {
    width: 100%;
    padding-left: 30px;
}

ul.menu1 li {
    text-align: center;
    padding-right: 30px;
}

nav ul li a{
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    text-decoration: none;
}

#right-corner {
    width: 50%;
    padding-left: 0;
    
    
}

nav > div > button > img {
    height: 25px;
    width: auto;
    }

.link-signin {
    padding: 0 30px;

}

.link-tryforfree {
    padding: 15px;
    border-radius: 5px;
    color:#540B51;
    background-color: white;

}

/* Header styles --------------------------------------------------- */


header {
    display: flex;
    flex-direction: row;
    padding: 0 0; 
    text-align: left;
    height: 850px;
}

header div.div-half.bb-background {
    width: 60%;
    padding: 60px 0;
}

header div.div-half.slack-presentation {
    width: 40%;
   
}

.hero-product-ui {
    padding: 200px 0;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    font-size: 6.5em;
    margin-right: 0;
}
    
header p {
    text-align: left;
    font-size: 2.5em;
    padding: 60px 30px;
}

.div-btn-center {
    display: flex;
    flex-direction: row;
}


.signup-btn.mail {
    font-size: 1.2em;
    height: 60px;
    width: 50%;
    padding: 0 15px;
    margin: 0 15px;  
}    

 .signup-btn.google {
    font-size: 1.2em;
    height: 60px;
    width: 50%;
    padding: 0 15px;
    margin: 0 15px;
    }

  
    
    
/* Main styles --------------------------------------------------- */
    

main p.uppercase {
    font-size: 1.5em;
    }

.div-trusted-logo {
    display: flex;
    flex-direction: row;
    padding: 0 60px;
    }

.trusted-logo {
    height:40px;
}


/* articles section styles --------------------------------------------------- */

.section-row {
    display: flex;
    flex-direction: row;
    padding: 30px 0 0 0;
}

.img-article-mobile {
    display: none;
}

.img-article-section {
    display: unset;
    width: 85%;
    margin: 30px 0;

}


h2, h3{
    font-size: 3em;
    font-weight: bolder;
    }

.section-to-the-right {
    flex-direction: row-reverse;
}

div.article-text {
    padding: 15px 90px;
}

div.article-text p {
    font-size: 2em;
    }


.link-article{
    font-size: 1.5em;
}


/* Team Slack styles --------------------------------------------------- */

.teams-slack > p {
    font-size: 1.6em;
    font-weight: 500;
}

.teams-flex-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signup-btn.meet-slack {
    height: 65px;
    width: 50%;
    margin: 30px 15px 30px 0px;
    padding: 0;
    font-size: 1.6em;
}

.signup-btn.talktosales {
    height: 65px;
    width: 25%;
    margin: 30px 0px 30px 15px;
    padding: 0;
    font-size: 1.6em;
}



.teams-slack span {
    font-size: 2.2em;
    font-weight: bold;
    text-align: left;
    }

#ul-numbers {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
}

#ul-numbers p {
    font-size: 1.1em;
    text-align: left;
    padding : 0 30px;

}

#ul-numbers li {
    padding: 30px 0;
    width: 25%;
}



/* Welcome digital HQ styles --------------------------------------------------- */

div.welcome-hq {
    display: unset;    
   }

button.talktosales2, button.tryforfree {
    width: 25%;
    margin: 0 15px;
  } 



/* Footer styles --------------------------------------------------- */

footer img {
    width: 7%;
}
.status-cookie {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px ;
}

.status-cookie li {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

img.ico {
    width: 14px;
    
}

.ul-socialsM {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    width: 30%;
}




small {
    font-size: 1em;
}
    

   
}