/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/


/* initialising the style */
*, button {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-size: 14px;
    font-family: 'awesome', sans-serif;
    background-color: #540B51;
}


/* general class to use all over the page */

.uppercase {
    text-transform:uppercase;
}

h1, h2, h3, h4, h5, h6 {
    color: #191817;
}

p {
    font-size: 2.3em;
    text-align: left;
    color: #000000;
    padding: 45px 0 45px;
}


/* nav styles --------------------------------------------------- */

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#left-corner, #right-corner, .menu1, .menu2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#left-corner {
    justify-content: flex-start;
    padding: 30px 0 0 30px;
}

#right-corner {
    justify-content: flex-end;
    padding: 30px 30px 0 0;
}

#slack-logo {
    height: 45px;
    width: 100%;
}

#search-btn, #burger-menu-btn {
    padding-left: 30px;
    background-color: #540B51;    
}

nav > div > button > img {
        height: 30px;
        width:100%;
        cursor: pointer;
}


/* Header styles --------------------------------------------------- */

header {
    color: white;
    padding: 75px 30px 0; 
    text-align: center;
}

h1 {
    color: white;
    padding: 0 30px;
    font-size: 5em;
}

header p {
    color: white;
    padding: 0 30px;
    font-size: 2.2em;
    padding: 30px 0; 
}

span.yellow {
    color: #ECB12F;
    font-weight: bold;
}

.signup-btn {
    border-radius: 10px;
    margin: 10px 0;
    font-size: 2em;
    text-align: center;
    height: 75px;
    width: 100%;
    color: #540B51;
    cursor: pointer;
    
    }

.signup-btn.mail {
    padding-left: 30px;
  
}    

 .signup-btn.google {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4285F4;
    color: white;
    }

 .google-logo {
    margin: 10px;
    width: 8%;
    background-color: white;
 }

.slack-presentation {
  padding-top: 30px;
  width: 100%;
}


/* Main styles --------------------------------------------------- */

main {
    color: #191817;
}

section.ivory-bg {
    background-color: #F3EAE2;
}

section.white-bg {
    background-color: white;
}

main p.uppercase {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    padding: 50px 30px; 
}

.div-trusted-logo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 30px;
    }

.trusted-logo {
    height:60px;
    padding: 25px 0;
    
}


/* articles section styles --------------------------------------------------- */

.img-article-section {
    width: 95%;
    margin: 30px 0;
}

.img-align-right {
    float: right;
}

h2 {
    font-size: 4em;
    }

.article-text {
    padding: 60px 15px;
}

.link-article{
    color: #2E71A6;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
}


/* Team Slack styles --------------------------------------------------- */



/* Welcome digital HQ styles --------------------------------------------------- */



/* Footer styles --------------------------------------------------- */

footer {
    background-color: white;
}



/* Design Web Responsive styles --------------------------------------------------- */

/* mobile screen */

@media (max-width: 768px) {
    ul.menu1, ul.menu2 {
        display: none;
        }
}


/* small screen */
@media (min-width: 769px) and (max-width: 1024px) {
    
}


/* medium screen */
@media (min-width: 1025px) and (max-width: 1440px) {
    
}


/*large screen */
@media screen (max-width: 1441px) {
    
}